@Charset "UTF-8";

body, #pack{
    margin:0;
    padding:0;
    color:black;
    font-family:'Verdana', sans-serif;
}
#pack{
    padding:10px;
}
.header{
    text-align: center;
}
section{
    border:1px solid;
    display:block;
    height:200px;
    width:400px;
}
a{
    display:block;
    text-decoration: none;
    color:black;
    font-weight:bold;
    padding:2px;
    border:1px solid gray;
    border-radius:2px;
}
.a_wrap{
    margin:5px;
    min-width:50px;
    border:1px solid gray;
    border-radius:2px;
    float:left;
}
a:hover{
    color:gray;
}
.map {
  margin: 0 0 20px 0;
  border:1px solid;
  padding:5px;
  
  width:200px;
  float:left;
  
}
#result_map{
    position:absolute;
    left:400px;
}
.map table {
  border-collapse: collapse;
  
}

.map table, .map tr, .map td {
  border: 1px solid black;
}

.map td {
  width: 20px;
  height: 20px;
  
  text-align: center;
}

.map .map_start {
  background: grey;
}

.map .map_path {
  background: yellow;
}

.map .map_meta {
  background: red;
}

