@Charset "UTF-8";

body, #pack{
    margin:0;
    padding:0;
    color:black;
    font-family:'Verdana', sans-serif;
}
.header{
    text-align: center;
    background-color:#DFE6E8;
}
#reload{
    position:fixed;
    right:0;
    top:80px;
    width:80px;
    margin:5px;
}
section{
    padding-left: 20px;
    display:flex;
    min-height:100px;
    width:400px;
}
a{
    display:block;
    text-decoration: none;
    color:black;
    font-weight:bold;
    padding:2px;
    border:1px solid gray;
    border-radius:2px;
    background-color:#DFE6E8;
    text-align: center;
}
.a_wrap{
    margin:5px;
    min-width:50px;
    align-items: center;
    float:left;
}
a:hover{
    color:gray;
}
h3{
    margin:10px 5px 10px 5px;
}
.map {
  margin: 0 0 20px 0;
  border:1px solid;
  border-radius:2px;
  padding:5px;
  width:200px;
  float:left;
  background-color: #EDF7FA;
}
#result_map{
    position:absolute;
    left:500px;
}
.map table {
  border-collapse: collapse;
}

.map table, .map tr, .map td {
  border: 1px solid black;
}

.map td {
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: #fff;
}

.map .map_start {
  background: grey;
}

.map .map_path {
  background: yellow;
}

.map .map_meta {
  background: red;
}
#iterations{
    font-size:10px;
}
footer{
    position:fixed;
    bottom:0;
    right:0;
    min-width:200px;
    min-height:80px;
    background-color:#DFE6E8;
    padding:20px;
}
#contact{
    font-weight:normal;
    font-size: 12px;
    border:none;
}